<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Say Something!</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/police">Police</a></li>
        <li><a href="/fire">Fire</a></li>
        <li><a href="/ambulance">Ambulance</a></li>
        <li><a href="/community">Community</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="constrainedLayout">
    <h1 class="page-header">
        {{ formattedType }}
    </h1>
    <div class="panel panel-default">
        <div class="panel-heading">Address</div>
        <div class="panel-body">
            <p>
                {{ address1 }}<br>
                {{ address2 }}
            </p>
        </div>
    </div>
    <div class="panel panel-default descriptionPanel">
        <div class="panel-heading">Description</div>
        <div class="panel-body">
            <label for="description-form">
                Please enter a description:
            </label>
            <textarea id="description-form" class="form-control" placeholder="Description of the issue, relevant details, names of parties involved, other locations affected, etc."></textarea>
        </div>
    </div>
    <button type="button" class="btn btn-lg btn-primary descriptonSubmitButton js-submit-description">
        Submit Your Request
    </button>
</div>
