<div class="siteContainer_home">
    <h1>New Report</h1>

    <button type="button" class="btn btn-lg btn-primary js-type" data-type="police">
        Police
    </button>

    <button type="button" class="btn btn-lg btn-danger js-type" data-type="fire">
        Fire
    </button>

    <button type="button" class="btn btn-lg btn-info js-type" data-type="ambulance">
        Ambulance
    </button>

    <button type="button" class="btn btn-lg btn-success js-type" data-type="community">
        Community
    </button>
</div>
