<div class="siteContainer_map">
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Say Something!</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/police">Police</a></li>
            <li><a href="/fire">Fire</a></li>
            <li><a href="/ambulance">Ambulance</a></li>
            <li><a href="/community">Community</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div id="map">
    </div>
    <div class="mapLabels">
        <button type="button" class="btn btn-default js-go-back">
            <i class="fa fa-step-backward"></i>
            Go Back
        </button>
    </div>
</div>
