<p>
    {{ address }}<br />
    {{ city }}, {{ region }} {{ postal }}
</p>
<p>
    <button type="button" class="btn btn-sml btn-primary js-select-location">
        Select This Location
    </button>
</p>
